cython
cmake
chatterbot
aiohttp
beautifulsoup4
boto3==1.42.21
botocore==1.42.21
bpython==0.26
brotli==1.2.0
brotlicffi==1.2.0.0
cached_property==1.5.2
cffi==2.0.0
chardet==5.2.0
cjkwrap==2.2
click==8.3.1
colorama==0.4.6
configParser
coverage==7.13.1
curio==1.6
cython
cython_test_exception_raiser
dl==0.1.0
docutils==0.22.4
email_validator==2.3.0
eval_type_backport==0.3.1
exceptiongroup==1.3.1
fastapi_cli==0.0.20
gobject==0.1.0
graphviz==0.21
gssapi==1.10.1
h2==4.3.0
hatchling==1.28.0
hpack==4.1.0
html5lib==1.1
HTMLParser==0.0.2
httpx==0.28.1
hyperframe==6.1.0
importlib_resources==6.5.2
ini2toml==0.15
ipython==9.6.0
ipywidgets==8.1.8
itsdangerous==2.2.0
Jinja2
js
jsonpointer==3.0.0
keyring==25.7.0
lint
lxml_html_clean==0.4.3
mock==5.2.0
mod==0.3.0
multipart==1.3.0
mypackage==0.1
mysqlclient
orjson==3.11.5
outcome==1.3.0.post0
pandas==2.3.3
path.py==12.5.0
Pillow==12.1.1
pkg1==0.0.3
priority==2.0.0
protobuf==6.33.5
psycopg==3.3.2
ptpython==3.0.32
pyarrow==23.0.1
pygobject
PyHamcrest==2.1.0
pyperf==2.9.0
psycopg2-binary
pyserial==3.5
pytest==9.0.2
python_multipart==0.0.27
pythran==0.18.1
pyui==0.1.0
quixote==3.7
redis==7.1.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
robotexclusionrulesparser==1.7.1
runtests==0.0.28
simplejson==3.20.2
simsimd==6.5.12
Sphinx==9.1.0
strict_rfc3339==0.7
subunit==0.0.0a0
thread==2.0.6
toml==0.10.2
trio==0.32.0
trove_classifiers==2026.1.12.15
ujson==5.11.0
unittest2==1.1.0
uritemplate==4.2.0
urllib3_secure_extra==0.1.0
utmp==21.10.0
uvloop==0.22.1
wcwidth==0.2.14
webcolors==25.10.0
wsaccel==0.6.7
wsproto==1.3.2
wxPython==4.2.4
xx==3.3.2
zstandard==0.24.0
