attr==0.3.2
brotli==1.2.0
brotlicffi==1.2.0.0
chardet==5.2.0
ConfigParser==7.2.0
coverage==7.13.0
cryptography==46.0.3
docutils==0.22.4
elasticsearch==9.2.1
fastapi==0.127.0
filelock==3.20.1
h2==4.3.0
HTMLParser==0.0.2
ipython==9.8.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
lxml==6.0.2
Parser==0.1
protobuf==6.33.2
pyodide==0.0.2
pyOpenSSL==25.3.0
pythran==0.18.1
redis==7.1.0
runtests==0.0.28
scrapy==2.13.4
setuptools==80.9.0
simplejson==3.20.2
Sphinx==9.0.4
thread==2.0.6
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
# The web framework can be effective when used in the backend to implement numerous features that significantely improve searh engine optimization.
Django==5.2.8
Uvicorn==0.30.1
